


        <%- include('./layouts/header') %>

<div class="container">
    <div class="error-container">
       
        <img src=<%=newUser.profilePic %> alt="Error Image" class="error-image">
        
        <h3 class="display-4"> Hi <%= newUser.name %> !</h3>
        <p><%= msg %></p>
        <span class="badge-advanced m-2">userId : <%= newUser._id %></span>
        <a href="/" class="btn btn-success">continue</a>
     
    </div>
  </div>

<%- include('./layouts/footer') %>