<%- include('./layouts/header') %>

<section class="vh-100" style="background-color: #5f59f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card mb-5" style="border-radius: 15px;">
            <div class="card-body p-4">
            
              <a href="#!">
                <img style="width: 150px; height: 150px;" src=<%= user.profilePic%> alt=<%= user.name%> 
                  class="img-fluid rounded-circle me-3" width="35">
              </a>
              <h3 class="mb-3"><%= user.name%></h3>
              <p class="small mb-0"><%= user.email%> </p>
              <hr class="my-4">
              <div class="d-flex justify-content-start align-items-center">
                <p class="mb-0 ml-3 text-uppercase"><i class="fas fa-user"></i><span
                    class="text-muted small ml-3"> role : <%= user.role%></span></p>
                
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>

  <%- include('./layouts/footer') %>